<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pitaya.smart_rest.guke.mapper.MemberMapper">
    <select id="selectModelPage" parameterType="com.pitaya.smart_rest.activity.query.ChargeActivityQuery"
            resultType="com.pitaya.smart_rest.activity.model.ChargeModel">
        select m.id,
               m.mobile,
               m.true_name,
               m.org_id,
               m.member_type,
               m.virtual_acc,
               m.gift_acc,
               m.allowance_acc,
               m.cash_acc,
               m.charge_acc,
               m.state,
               o.org_name,
               (m.virtual_acc + m.gift_acc + m.allowance_acc + m.cash_acc + m.charge_acc) as total
        from t_member m left join t_org o on m.org_id=o.id
        <where>
            m.id=m.id
            <if test="query.keyword!=null and query.keyword!=''">
                AND m.mobile like CONCAT('%',#{query.keyword},'%')
                OR  m.true_name like CONCAT('%',#{query.keyword},'%')
                OR  m.id like CONCAT('%',#{query.keyword},'%')
            </if>
            <if test="query.orgId != null and query.orgId!=''">
                AND m.org_id LIKE CONCAT('%',#{query.orgId},'%')
            </if>
            <if test="query.memberType != null ">
                AND m.member_type = #{query.memberType}
            </if>
        </where>
        ORDER BY m.member_type

    </select>
    

</mapper>
