<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pitaya.smart_rest.activity.mapper.ChargeActivityMapper">
    <select id="selectOrderModelPage" parameterType="com.pitaya.smart_rest.activity.query.ChargeActivityQuery"
            resultType="com.pitaya.smart_rest.activity.model.ChargeActivityModel">
        SELECT ca.id,
        ca.activity_name,
        ca.activity_type,
        ca.charge_momey,
        ca.discounts_momey,
        ca.state,
        ca.note,
        ca.multi,
        ca.start_date,
        ca.end_date,
        ca.create_date,
        ca.res_id,
        CONCAT( ca.start_date,' ~ ',ca.end_date) as date_range
        from t_charge_activity ca
        <where>
            ca.res_id = #{query.resId}
            <if test="query.note != null and query.note!=''">
                AND ca.note LIKE CONCAT('%',#{query.note},'%')
            </if>
            <if test="query.state != null ">
                AND ca.state LIKE CONCAT('%',#{query.state},'%')
            </if>
            <if test="query.activityType != null ">
                AND ca.activity_type LIKE CONCAT('%',#{query.activityType},'%')
            </if>
        </where>
    </select>
</mapper>
